language: c
os: osx

env:
  global:
      - HOMEBREW_NO_AUTO_UPDATE=1
      - HOMEBREW_NO_INSTALL_CLEANUP=1

branches:
  only:
    master

install:
  - brew install snaipe/soft/criterion

script:
  - ./test/coretest --verbose

notifications:
  slack: 42born2code:gLyRhTdCmqHPxkEs68ezz7Xo
    on_success: always
    on_failure: always
